.thumb {
  width: 100%;
  height: 340px;
  flex-shrink: 0;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    height: 255px;
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  h2 {
    position: absolute;
    height: 20%;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;

    background-color: rgba(0, 0, 0, 0.257);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
